
.achievement_list_item {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: $primary-color;

    .achievement_list_item_name{
        color: $white;
        font-weight: 400;
        line-height: normal;
        font-size: 14px;
    }
}

.achievement_grid_card{
    @extend .row-between-start;
    position: relative;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 10px;  
    border-radius: 10px;

    .popup_actions_absolute{
        position: absolute;
        right: 10px;
    }

    .achievement_grid_card_inner{
        @extend .col-center;
        width: 100%;
        padding: 20px 0 5px 0;

        .achievement_header_container{ 
            width: 100%; 
            padding-right: 35px;
            height: 40px;
        }

        .achievement_text{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.3;
        }
    }
}

@media only screen and (max-width: $breakpointMobile) {
    .achievement_list_item {
        width: 65px;
        height: 65px;
    }

    .achievement_grid_card{

        .achievement_grid_card_inner{

            .achievement_header_container{ 
                height: 32px;
            }

            .achievement_text{
                font-size: 12px;
            }
        }
    }
}