
/*
** GO TO BACK */
.wrapper_go_to_back{
    .go_to_back {
        @extend .row-center;
        padding: 0;
        gap: 0 6px;
        color: $primary-color;
        font-size: 16px;
        font-weight: 400;
    }
}

/*
** HEADER CONTENT */
.wrapper_header_content{
    .title{
        @extend .text_primary-black;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        margin: 0;
    }
    .caption{
        @extend .text_primary-grey;
        @extend .text_sz-6;
        font-weight: 400;
        line-height: 21px;
        margin: 0;
    }

    .btn_add_content {
        :global(.ant-btn-icon){
            display: none;
        }
    }
}

/*
** MODAL DELETE */
.modal_delete_content {

    .modal_delete_body {
        .modal_delete_body_description {
            color: $primary-color-text;
            font-size: 16px;
            margin: 0 0 10px 0;
        }

        .modal_delete_body_caption {
            color: $grey-dark;
            font-size: 16px;
            margin: 0;
        }
    }

    .modal_delete_footer_btn_delete{
        background-color: $error;
        border-color: $error;
        color: $main-grey;
    }
}

.modal_next_phase_content {

    .footer_btn_confirm{
        background-color: $success;
        border-color: $success;
        color: $main-grey;
    }
}


@media only screen and (max-width: $breakpointMobile) {
    .wrapper_header_content{
        .title{
            font-size: 20px;
        }
        .caption{
            font-size: 14px;
        }

        .btn_add_content {
            border-radius: 100px;
            height: 45px;
            width: 45px;

            .btn_add_content_label{
                display: none;
            }

            :global(.ant-btn-icon){
                display: block;
                font-size: 24px;
            }
        }
    }
}