
/*
** GO TO BACK */
.wrapper_go_to_back{
    .go_to_back {
        @extend .row-center;
        padding: 0;
        gap: 0 6px;
        color: $primary-color;
        font-size: 16px;
        font-weight: 400;
    }
}

/*
** HEADER CONTENT */
.wrapper_header_content{
    .title{
        @extend .text_primary-black;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        margin: 0;
    }
    .caption{
        @extend .text_primary-grey;
        @extend .text_sz-6;
        font-weight: 400;
        line-height: 21px;
        margin: 0;
    }

    .btn_add_content {
        :global(.ant-btn-icon){
            display: none;
        }
    }
}

/*
** MODAL DELETE */
.modal_delete_content {
    position: relative;

    .modal_delete_close_icon{
        position: absolute;
        padding: 0;
        top: 0;
        right: 0;
        height: unset;
    }
    
    .modal_delete_header {
        margin: 0 0 10px 0;

        .modal_delete_header_title{
            color: $primary-color;
            font-weight: 600;
            font-size: 18px;
            line-height: 40px;
            margin: 0;
        }
    }

    .modal_delete_body {
        .modal_delete_body_description {
            color: $primary-color-text;
            font-size: 16px;
            margin: 0 0 10px 0;
        }

        .modal_delete_body_caption {
            color: $grey-dark;
            font-size: 16px;
            margin: 0;
        }
    }

    .modal_delete_footer {
        @extend .row-end;
        gap: 10px;
        margin: 40px 0 0 0;

        .modal_delete_footer_btn_cancel{
            background-color: $grey;
            border-color: $grey-3;
        }

        .modal_delete_footer_btn_delete{
            background-color: $error;
            border-color: $error;
            color: $main-grey;
        }
    }
}

@media only screen and (max-width: $breakpointMobile) {
    .wrapper_header_content{
        .title{
            font-size: 20px;
        }
        .caption{
            font-size: 14px;
        }

        .btn_add_content {
            border-radius: 100px;
            height: 45px;
            width: 45px;

            .btn_add_content_label{
                display: none;
            }

            :global(.ant-btn-icon){
                display: block;
                font-size: 24px;
            }
        }
    }
}