.btn_pictogram{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.pictogram_list_item {
    position: relative;
    border-color: $primary-color-text;
    border-style: solid;
    background-color: white;
    flex-shrink: 0;
    overflow: hidden;
    user-select: none;

    .pictogram_list_item_image{
        pointer-events: none;
    }

    .pictogram_list_item_name{
        @extend .text-ellipse;
        width: 140px;
        color: $primary-color-text;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }

    .pictogram_overlay_item{
        @extend .col-center;
        position: absolute;
        inset: 0;
        background-color: rgba($color: $primary-color, $alpha: 0.96);
        padding: 5px;

        .pictogram_overlay_item_text{
            color: $grey;
            font-weight: bold;
            line-height: 1.4;
            text-align: center;
            font-size: 18px;
        }
    }
}

.pictogram_grid_card{
    @extend .row-between-start;
    position: relative;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 10px;  
    border-radius: 10px;

    .popup_actions_absolute{
        position: absolute;
        right: 10px;
    }

    .pictogram_grid_card_inner{
        @extend .col-center;
        width: 100%;

        .tag_category_container{
            @extend .row-start;
            width: 100%;
            margin-top: 5px;
        }

        .pictogram_grid_actions_card{
            width: 100%;
        }
    }

    .category_pictogram_grid_card_inner{
        @extend .col-center;
        width: 100%;
        padding: 20px 0;
    }
}

@media only screen and (max-width: $breakpointMobile) {
    .pictogram_list_wrapper{
        justify-content: space-between;
    }
    .pictogram_list_item {
        width: 150px;
        height: 150px;
    }
}