/*
** TYPOGRAPHY */
$text-primary: 'poppins-regular', sans-serif;
$text-primary-300: 'poppins-light', sans-serif;
$text-primary-500: 'poppins-medium', sans-serif;
$text-primary-600: 'poppins-semibold', sans-serif;
$text-primary-700: 'poppins-bold', sans-serif;
$text-primary-900: 'poppins-black', sans-serif;


/*
** COLORS */
$primary-color: #15539C;
$secondary-color: #FF4E00;
$ternary-color: #ADDBF3;
$grey: #FAFAFA;
$grey-dark: #626262;
$grey-1: #C2CED7;
$grey-2: #D9D9D9;
$grey-3: #A0A0A0;
$grey-4: #868686;
$grey-5: #C7C6C6;
$grey-6: #D9D9D9;
$white: #fff;
$black: #000;

/*
** COLORS STATUS*/
$success: #4CAF50;
$success_op: #DDFFDD;
$warning: #FEC022;
$warning_op: #FFFFCC;
$info: #3186EA;
$info_op: #DDFFFF;
$error: #DC143C;

/*
** COLORS TEXT*/
$primary-color-text: #1C1816;


/*
** Breakpoints */
$breakpointMobile: 576px;
$breakpointTablet: 960px;
$breakpointDesktop: 1200px;
$breakpointDesktopExtraLarge: 1550px;